server {
    listen  80;

    server_name {{ webuser_site }} www.{{ webuser_site }};
    access_log /home/{{ webuser_name }}/logs/access.log;
    error_log /home/{{ webuser_name }}/logs/error.log;

    location / {
        root  /home/{{ webuser_name }}/public_html;
        index  index.html index.htm index.php;
        try_files $uri $uri/ =404;
    }

    error_page  500 502 503 504  /50x.html;
    location = /50x.html {
        root  /usr/share/nginx/html;
    }
}
